<section class="features">
    <article class="card">
        <a href="{{url_for('main.menu')}}">
            <h3>Step 1</h3>
            <p><strong>View your products on the menu</strong></p>
        </a>
    </article>
    <article class="card">
        <h3>Step 2</h3>
        <p><strong>Decide what to buy</strong></p>
    </article>
    <article class="card">
        <a href="{{url_for('main.contact')}}">
            <h3>Step 3</h3>
            <p><strong>Fill your name and email in the form with product name, quantity and other details in the
                    message</strong></p>
        </a>

    </article>
    <article class="card">
        <a href="{{url_for('main.contact')}}">
            <h3>Step 4</h3>
            <p><strong>press to <b>send</b> to confirm your order</strong></p>
        </a>
    </article>
</section>