SECRET_KEY= your-SECRET_KEY

DATABASE_URL= sqlite:///app.db

MAIL_SERVER= smtp.gmail.com

MAIL_PORT=587

MAIL_USE_TLS=True

MAIL_USERNAME= your_gmail_address

MAIL_PASSWORD= your_gmail_app_password # Not your gmail password

MAIL_DEFAULT_SENDER= your_gmail_address