{% extends "base/base.html" %}
{% block title%}

Menu

{% endblock %}
{% block content %}
<section class="shopping-card">
    <article class="img-card">
        <p><a href="#">
                <a href="{{url_for('main.contact')}}">
                    <h3>Buy Now</h3>
                </a>
                <a href="{{url_for('main.contact')}}">
                    <h3>Add to Cart</h3>
                </a>
            </a>YOUR IMAGE</p>
    </article>
    <article class="img-card">
        <p><a href="#">
                <a href="{{url_for('main.contact')}}">
                    <h3>Buy Now</h3>
                </a>
                <a href="{{url_for('main.contact')}}">
                    <h3>Add to Cart</h3>
                </a>
            </a>YOUR IMAGE</p>
    </article>
    <article class="img-card">
        <p><a href="#">
                <a href="{{url_for('main.contact')}}">
                    <h3>Buy Now</h3>
                </a>
                <a href="{{url_for('main.contact')}}">
                    <h3>Add to Cart</h3>
                </a>
            </a>YOUR IMAGE</p>
    </article>
    <article class="img-card">
        <p><a href="#">
                <a href="{{url_for('main.contact')}}">
                    <h3>Buy Now</h3>
                </a>
                <a href="{{url_for('main.contact')}}">
                    <h3>Add to Cart</h3>
                </a>
            </a>YOUR IMAGE</p>
    </article>
    <article class="img-card">
        <p><a href="#">
                <a href="{{url_for('main.contact')}}">
                    <h3>Buy Now</h3>
                </a>
                <a href="{{url_for('main.contact')}}">
                    <h3>Add to Cart</h3>
                </a>
            </a>YOUR IMAGE</p>
    </article>
    <article class="img-card">
        <p><a href="#">
                <a href="{{url_for('main.contact')}}">
                    <h3>Buy Now</h3>
                </a>
                <a href="{{url_for('main.contact')}}">
                    <h3>Add to Cart</h3>
                </a>
            </a>YOUR IMAGE</p>
    </article>
    <article class="img-card">
        <p><a href="#">
                <a href="{{url_for('main.contact')}}">
                    <h3>Buy Now</h3>
                </a>
                <a href="{{url_for('main.contact')}}">
                    <h3>Add to Cart</h3>
                </a>
            </a>YOUR IMAGE</p>
    </article>
    <article class="img-card">
        <p><a href="#">
                <a href="{{url_for('main.contact')}}">
                    <h3>Buy Now</h3>
                </a>
                <a href="{{url_for('main.contact')}}">
                    <h3>Add to Cart</h3>
                </a>
            </a>YOUR IMAGE</p>
    </article>
    <article class="img-card">
        <p><a href="#">
                <a href="{{url_for('main.contact')}}">
                    <h3>Buy Now</h3>
                </a>
                <a href="{{url_for('main.contact')}}">
                    <h3>Add to Cart</h3>
                </a>
            </a>YOUR IMAGE</p>
    </article>
    <article class="img-card">
        <p><a href="#">
                <a href="{{url_for('main.contact')}}">
                    <h3>Buy Now</h3>
                </a>
                <a href="{{url_for('main.contact')}}">
                    <h3>Add to Cart</h3>
                </a>

            </a>YOUR IMAGE</p>
    </article>
</section>
{% endblock %}