@import url("base/variable.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body{

    font-family: var(--font-family);
    background: var(--background-color);
    color: var(--text-color);
    padding: var(--space-large);
    line-height: 1.6;

}