<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        YOUR BUSINESS NAME
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/components/forms.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/pages/errors.css')}}">

</head>

<body>

    {% include "components/navbar.html" %}

    <main>

        {% with messages = get_flashed_messages(with_categories=true) %}

        {% if messages %}

        {% for category, message in messages %}

        <div class="flash flash-{{ category }}">

            {{ message }}

        </div>

        {% endfor %}

        {% endif %}

        {% endwith %}

        {% block content %}
        {% endblock %}
    </main>

    {% include "components/footer.html" %}



    <script src="{{ url_for('static', filename='js/components/navbar.js') }}"></script>
</body>

</html>