<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        New Maulakalika Suppliers
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>

<body>
    <header>
        <h1>New Maulakalika Suppliers</h1>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>
            &copy 2026 New Maulakalika Suppliers. All rights reserved.
        </p>
    </footer>

</body>

</html>