.navbar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-medium);
    background: var(--color-primary);
    color: white;
    font-size: x-large;

}

.navbar__links{

    display: flex;
    gap: var(--spacing-medium);
    list-style: none;
    font-size: large;

}

.navbar__links a{

    color: white;
    text-decoration: none;
     
}

.navbar__links a:hover{
    text-decoration: underline;
}